<%- include('./partials/header') %)

<body>
    <h2><%= APODdata.title %></h2>
    <img id="image" src="<%= APODdata.url %>" alt="NASA Image of the Day" />
    <p><%= APODdata.explanation %></p>
</body>
</html>