<%- include('./partials/header') %>
<div>
    <h2>Bienvenue sur Nasartistique</h2>
        <ul>
            <li><a href="/imagedujour">L'image du jour</a></li>
            <li></li>
            <li></li>
        </ul>
</div>


